/* 
 * CSS form rules
 * 
 * Default form layout rules
 * 
 * Version:  5.1.2
 * Updated:  11/03/2014
 * Author:   Chris Lienert
 * Changes:  Updated to match internal build
 * 
 */
textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css ; */
input[type="radio"] { vertical-align: baseline; }
input[type="checkbox"] { vertical-align: baseline; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="reset"], input[type="image"], button { cursor: pointer; }
 
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
textarea, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], select {
  border: 1px solid #999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font: 1em/1.2 "Helvetica neue", Arial, sans-serif;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"] {
  height: 1.375em;
  padding: 0 2px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, select:focus, textarea:focus, 
input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="url"]:hover, select:hover, textarea:hover {
  box-shadow: 0 0 2px #8baabf;
  border-color: #8baabf;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.invalid textarea:focus, 
.invalid textarea:hover, 
.invalid select:focus, 
.invalid select:hover, 
.invalid input:focus, 
.invalid input:hover,
textarea.invalid:focus, 
textarea.invalid:hover, 
select.invalid:focus, 
select.invalid:focus, 
input.invalid:focus, 
input.invalid:hover {
  box-shadow: 0 0 2px #c00;
  border-color: #c00;
}
.invalid input, 
.invalid textarea,
.invalid select,
input.invalid, 
textarea.invalid,
select.invalid { 
  border-color: #c00;
  background-color: #f0dddd; 
}
label.alert {
  color: #900;
}

input[readonly],
textarea[readonly] {
  background-color: #ddd;
  border-color: transparent;
}

input[type='radio'], input[type='checkbox'] {
  padding-left: 0;
}

input.default {
  font-weight: bold;
}

label {
  display: block;
}
.radio {
  display: block;
}
.radio label {
  display: inline;
  margin-right: 1em;
}

/* form elements */

fieldset fieldset {
  margin: 12px;
}
.button {
  margin-right: 12px;
}
fieldset p img {
  vertical-align: text-top;
}

form h2 {
  margin: 0;
}
form h3 {
  margin: 0;
  padding: 0 0 0.5em;
}
form h4 {
  margin: 0;
}
form p {
  margin: 0 0 1.375em;
  padding: 0;
}
fieldset h2+p, fieldset h3+p, fieldset h4+p {/* first paragraph */
  margin-top: 0.5em;
}
fieldset.submit p {
  margin-top: 1em;
}
form ol, form ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
}
form li {
  margin: 0 0 12px;
  padding: 0 17px 0 0;
}
form li p {
  margin: 0;
  padding: 0;
}
label.errata {
  display: block;
  padding: 1px 5px 1px 1.25em;
  color: #c00;
  background: url("/cdn/images/error.png") no-repeat 3px center;
  font-style: normal;
  font-weight: bold;
}
.ie7 label.errata {/* overcome reluctance to show longer error messages */
  max-width: 300px;
}
.ie6 label.errata {
  width: 300px;
}
label.js-hover {
  z-index: 100;
  position: absolute;
  border: 1px solid #bfc1c9;
  background-color: #fff;
}

p.error {
  font-weight: bold;
}
p.feedback {
  font-weight: bold;
}
p.hint {
  margin-bottom: 0;
}
form p.hint {
  margin-top: -12px;
  margin-bottom: 12px;
}
p.help {
  font-weight: bold;
}
p.check {
  font-weight: bold;
}
p.check input {
  float: left;
  margin-top: 3px;
}
p.check label {
  padding-left: 20px;
}
